.new-tweet {
  background-color: #eee;
  margin-left: 2em;
  margin-right: 2em;
  border-style: solid;
  border-color: #afaeae;
  border-width: 1px;
  border-radius: 2%;
  padding: 1ex;
  display: none;
}

.container .new-tweet h2 {
  box-sizing: inherit;
  margin-top: 0;
}

h2:after {
  content: ' ';
  display: block;
  border: 0.5px solid black;
}

.new-tweet form {
  box-sizing: inherit;
  margin-top: 0;
}

.new-tweet form textarea {
  width: 100%;
}

.new-tweet form span {
  float: right;
}

.error {
  display: none;
  color: red;
}