#tweets-container {
  margin-top: 10px;
  margin-bottom: 10px;
}

.tweet {
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 10px;
  border-style: solid;
  border-color: #afaeae;
  border-width: 1px;
  border-radius: 2%;
}

.tweetHeader {
  background-color: #eee;
  padding-bottom: 70px;
}

.avatar {
  float: left;
  padding: 1ex;
  border-radius: 25%;
  filter: opacity(50%);
}

.username {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0;
  padding-top: 10px;
  float: left;
  filter: opacity(50%);

}

.handle {
  margin-top: 20px;
  float: right;
  padding-right: 5px;
  filter: opacity(50%);

}

.text {
  margin-left: 1em;
  margin-right: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
  color: #107879;
}

.footer {
  margin-bottom: 30px;
}

.date {
  float: left;
  margin-top: 7px;
  padding-left: 1em;
  font-size: 75%;
  color: #107879;
}

.icons{
  visibility: hidden;
  margin-top: 7px;
  float: right;
  padding-right: 1em;
}

footer:before {
  content: ' ';
  display: block;
  border: 0.5px solid #bfbebe;
}

.tweet:hover{
  border-color: black;
}

.tweet:hover .avatar {
  filter: opacity(100%);
}

.tweet:hover .username {
  filter: opacity(100%);
}

.tweet:hover .handle {
  filter: opacity(100%);
}

.tweet:hover .icons{
  visibility: visible;
  margin-top: 7px;
  float: right;
  padding-right: 1em;
}